# FastAPI
APP_ENV=development

# PostgreSQL
DATABASE_URL=postgresql+asyncpg://middleware:middleware@localhost:5432/middleware

# Redis
REDIS_URL=redis://localhost:6379/0
SESSION_TTL_SECONDS=1800

# GLPI
GLPI_URL=http://localhost:8080/apirest.php
GLPI_APP_TOKEN=token-inserido-apos-setup-manual
GLPI_USER_TOKEN=token-inserido-apos-setup-manual

# Evolution API
EVOLUTION_URL=http://localhost:8081
EVOLUTION_API_KEY=B6D711FCDE4A4FD5936544120E713976
EVOLUTION_INSTANCE=minha_instancia_teste
